/* .user-page {
    margin: 10px auto 0;
}

.user-video-audition iframe {
    width: 100%;
}

.user-photo img {
    width: 100%;
    height: auto;
}

.edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.user-photo-container {
    position: relative;
}

table {
    margin: 15px auto 0;
}

table td:first-child {
    text-align: right;
}

table td:nth-child(2) {
    text-align: left;
} */

#profile {
    width:100%;
    height:100vh;
  }
  
  #user-info {
    width:100%;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    font-family: 'Roboto';
  }

  #user-info h1{
    font-family: 'Roboto';
    font-size: 2.5rem;
    font-weight: 700;
  }

  #user-info h3{
    font-family: 'Roboto';
    font-size: 1.6rem;
  }
  #user-info h5{
    font-family: 'Roboto';
    font-size: 1rem;
  }
  
  #profile-img {
    border-radius:50%;
    height:10rem;
    width:10rem;
  }

  #videoSection{
      position: relative;
      left: 10%;
      width: 80%;
      height: 100vh;
      padding-top: 2%;

  }
  
  